<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Foo Website</title>
  </head>
  <body>

    {{> header }}

    <p>You look like you're lost... Need some help?</p>
    <p>Psst!! This is the HBS version!</p>

  {{> footer }}
  </body>
</html>
